/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --gap-sm: .5rem;
    --gap-med: 1rem;
}

:root:not(.light) {
    --clr-background: #1F2937;
    --clr-text: #FFFFFE;
}

:root.light {
    --clr-background: #FFFFFE;
    --clr-text: #1F2937;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

html, 
body, 
div, 
span, 
input, 
select,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    color: var(--clr-text);
    background-color: var(--clr-background);
}

button {
    font: inherit;
}

/* ---------- TYPOGRAPHY ----------*/
select {
    font-weight: 300;
}



/* ---------- LAYOUT ----------*/
.container {
    width: 70vw;
    margin-top: var(--gap-med);
    margin-inline: auto;
}

.options,
.scheme-display,
.scheme-codes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-med);
}

.options {
    flex-direction: column;
}

.scheme-display {
    min-height: 40vh;
}

.color-display-divs,
.refresh-btn-div {
    display: grid;
    place-items: center;
    height: 20vh;
    width: 100%;
}

.icon-box {
    display: flex;
    justify-content: center;
    gap: .5em;
}


/* ---------- COMPONENTS ----------*/
.theme-icon,
#seedColor,
select,
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

:root:not(.light) .theme-icon .fa-sun {
    display: none;
}

:root:not(.light) .theme-icon .fa-moon {
    color: var(--clr-text);
}

:root.light .theme-icon .fa-moon {
    display: none;
}

.sr-only {
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.theme-icon:hover,
.theme-icon:focus {
    transform: scale(1.05);
}

input[type="color" i] {
    appearance: none;
    width: 2em;
    height: 2em;
    background-color: transparent;
    border-radius: .25em !important;
}

select {
    background-color: #CED8E6;
}

select:focus,
select:hover {
    background-color: #A3ADBB;
    font-weight: 400;
}

select::-webkit-input-placeholder {
    background-color: #6B7583;
}

select:checked::after {
    transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
}

select::-ms-expand {
    display: none;
}

input[type=color],
select,
button {
    border: none;
    border-radius: .25em;
}

#submit,
.resetBtn {
    padding: var(--gap-sm);
    font-weight: 600;
    background-image: linear-gradient(90deg, #CED8E6, #A3ADBB, #6B7583);
    border: .05rem solid var(--clr-dark);
}

#submit:focus,
#submit:hover,
.resetBtn:focus,
.resetBtn:hover {
    background-image: linear-gradient(135deg, #6B7583, #A3ADBB, #CED8E6);
}

i:hover,
i:focus {
    opacity: .65;
}



/* ---------- MEDIA QUERIES ----------*/